*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #494949;
    margin: 0 auto;
    width: 80%;
    color: #000000;
}

h1{
    background-color: darkcyan;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
}

aside{
    background-color: tomato;
    height:200px;
    width: 33%;
    float: left;
}

article{
    background-color: darkcyan;
    height: 200px;
    width: 33%;
    float: left;
}


footer{
    background-color: darkcyan;
    height: 150px;
    clear: both;
}

section{
    height: 400px;
    margin-bottom: 20px;
}