

body {

    background-color: #484D6D;
    color:#C5979D;
    text-align: center;
}
h1 {
    font-size: 95;
    margin-top: 7%;
    margin-right: 30%;  
    margin-left: 30%;
    font-family: 'Righteous', cursive;
}
h2 {
    font-size: 60;
    font-family: 'Righteous', sans-serif;
}