body{
    background-color: #494949;
    margin: 0 auto;
    width: 80%;
    color: #000000;
}

h1{
    background-color: darkcyan;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 10px;
}

aside{
    background-color: darkcyan;
    height:400px;
    margin-bottom: 10px;
}

article{
    background-color: darkcyan;
    height: 150px;
}